.movie {
  padding: 20px;
}
.movie__wrap {
  padding: 20px;
}
.movie__wrap:hover {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.movie__img {
  width: 230px;
  height: 345px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.movie__title {
  margin: 20px 0 5px;
}
.movie__genres {
  display: inline-block;
  text-align: center;
}
.movie__genres > li {
  float: left;
  padding-left: 20px;
  position: relative;
}
.movie__genres > li::before {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background-color: #999;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.movie__genres > li:first-child {
  padding-left: 0px;
}
.movie__genres > li:first-child::before {
  display: none;
}
.movie__rating {
  font-weight: bold;
}
.movie__rating > span {
  color: gold;
}
